<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../head'); %>
</head>
<body class="px-40 py-20 space-y-5">
    <div class="p-5 w-full h-20 flex items-center justify-between">
        <a href="" class="font-bold text-green-500">
            New Data
        </a>
    </div>
    <% data.forEach((item) => {  %>
    <div class="rounded-2xl bg-zinc-100 hover:bg-white hover:shadow p-5 w-full h-auto flex justify-between items-center group">
        <article class="w-2/3">
            <h1 class="font-bold text-4xl text-zinc-700">
                <%= item.id %>
            </h1>
            <p class="italic tracking-tighter text-zinc-400">
                # <%= item.name; %>
            </p>
            <hr class="my-5 opacity-0">
            <p>
                <%= item.desc; %>
            </p>
        </article>
        <div class="w-1/3 flex items-center justify-around group-hover:opacity-100 opacity-0">
            <button class="bg-white p-2 rounded-lg font-bold text-red-600">
                Delete
            </button>
            <button class="bg-white p-2 rounded-lg font-bold text-orange-600">
                Edit
            </button>
        </div>
    </div>
    <% }); %>
</body>
</html>